export(fill_by_column)
export(ggalign)
export(ggcook)
export(ggfaxt)
export(gghelp)
export(ggplot_col)
export(label_breaks)
export(label_rename_margin)
export(merge_pdf)
export(order_by)
export(panel_remover)
export(plot2drop)
export(qcolor)
export(qsymbol)
export(theme_basic)
export(theme_map)
import(gridExtra)
importFrom(ggplot2,element_blank)
importFrom(ggplot2,ggplotGrob)
importFrom(ggplot2,theme)
importFrom(ggplot2,theme_bw)
importFrom(grid,grob)
importFrom(grid,unit.pmax)
