export(fill_by_col)
export(ggfaxt)
export(merge_pdf)
export(order_by)
export(panel_remover)
export(plot2drop)
export(qcolor)
export(qsymbol)
export(theme_basic)
import(gridExtra)
importFrom(ggplot2,ggplotGrob)
importFrom(grid,grob)
